@import url('https://fonts.cdnfonts.com/css/poppins');

:root {
  --FF-primary: 'Poppins', sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--FF-primary);
}

svg,
image {
  max-width: 100%;
  height: 100%;
  display: block;
}

button {
  font-family: var(--FF-primary);
  cursor: pointer;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

/* Header */
.header {
  padding: 1em 0;
}

.header-content {
  display: grid;
  place-items: center;
}

.header-image {
  width: 18em;
}

.content {
  margin: 1em 0;
  display: grid;
  justify-content: center;
}

.content-text {
  font-size: 0.9rem;
  margin: 1em 0;
  line-height: 1.1;
}

.content-text.title {
  text-align: center;
}

.content-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  padding: 1em 0;
}

.content-button {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 0.25em;
  width: 6em;
  padding: 0.35em 0;
}

.auto {
  position: relative;
  display: grid;
  overflow: auto;
  border: 1px solid black;
}

.auto-image {
  margin: 0 auto;
  width: 100%;
  padding: 1em;
}

.status-circle {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px; /* Add spacing between circles */
  cursor: move;
  z-index: 1000;
  outline: 1px solid black;
}

.status-circle.placed {
  position: absolute;
}

.red-status {
  background-color: red;
}

.orange-status {
  background-color: orange;
}

.green-status {
  background-color: green;
}

.content-button.delete {
  background-color: red;
  color: white;
}

@media (min-width: 768px) {
  .header-image {
    width: 28em;
  }

  .content-text {
    font-size: 1rem;
  }

  .auto {
    width: 25em;
  }

  .status-circle {
    width: 35px;
    height: 35px;
    transition: transform 0.15s;
  }

  .status-circle:hover {
    transform: scale(1.1);
  }

  .status-circle:active {
    transform: scale(1);
    opacity: 0.5;
  }

  .content-button {
    transition: background-color 0.1s;
  }

  .content-button:hover {
    background-color: black;
  }
}
